*{padding: 0; margin: 0; box-sizing: border-box;font-family: 'Open Sans', sans-serif;}

.wrapper{
	position: relative;
	min-height: 100vh;
	padding-bottom: 50px;
}

header,footer{
	background-color: brown;
	padding: 15px 0;
	height: 50px;
	text-align: center;
	color:  white;
}

header{margin-bottom: 10px;}
footer{width: 100%;margin-top: 10px; position:absolute; bottom: 0;}

.container{max-width: 960px; margin: 0 auto; padding: 10px;}

h1{text-align: center;}
article{margin: 10px 0;}
article p{text-indent: 20px; text-align: justify;}


.card{border: 1px solid;font-weight: bold; margin: 10px 0; padding: 10px;}
.card ul{margin: 0; padding-left: 20px;}
.danger{border-color: red; background-color: #F8D7DA; color: #8B3F46;}
.success{border-color: green; background-color: #D4EDDA;color: #2C693A;}
.warning{border-color: orange; background-color: #FFF3CD; color: #856404;}
.info{border-color: blue; background-color: #D1ECF1; color: #246672;}