.informacoes-monetarias{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: 100px;
    margin: 10px 0;
}

.item-info{
    flex-grow: 1;
    /* border: 1px solid black; */
}

.item-info-1{
    background-color: #1C9E74;
}

.item-info-2{
    margin: 0 10px 0 10px;
    background-color: #D06447;
}

.item-info-3{
    background-color: #2A76B5;
}

/* formulário usuário */
.formularioUsuario{
    background-color: white;
    border: 1px solid #cecdcd;
    margin-bottom: 1.75rem;
}

.formularioUsuario h3{
    background-color: #EAEDEA;
    padding: 10px;
}

.containerForm{
    margin: 20px;
}


#formCadastroUsuário input[type="text"],
#formCadastroUsuário input[type="email"],
#formCadastroUsuário input[type="password"]
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 12px;
}

.btn-success{
    background-color: #28A745;
    border: none;
    padding: 10px;
    font-size: 1.01rem;
    font-weight: bold;
    color: white;
}

/* Dashboard */
.dadosFinanceiros{
    display: flex;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}

.dadoItem{
    width: 33%;
    height: 100px;
    /* border: 1px solid black; */
    
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
}

.dadoItem-1{
    background-color: #03b87e;
}

.dadoItem-2{
    background-color: #F1536E;
    margin: 0 20px;
}

.dadoItem-3{
    background-color: #3CA5F4;
}

.outrosDados{
    display: flex;
}

.outrosDados > div{
    width: 50%;
}

.outrosDados div:first-child
{
    margin-right: 20px;
}

.dsd{
    height: 300px;
}

.dadosFinanceiros div{
    color: white;
    font-weight: bold;
}
.dadosFinanceiros i
{
    display: inline-block;
    font-size: 35px;
    color: white;
    margin-right: 10px;
}



input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-size: 16PX;
}


/*ALERTAS*/
.alert{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    /* font-size: 17px; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.alert ul li
{
    margin-left: 20px;
}

.alert button{
     border: none;
    padding: 0 5px;
    background-color: Transparent;
    cursor: pointer;
    font-weight: bold;
}

.info-alert
{  
    background-color:#CCE5FF;
    border-color: #B8DAFF;
    color: #004085; 
}

.success-alert
{  
    background-color:#D4EDDA;
    border-color: #C3E5CB;
    color: #155724; 
}

.warning-alert
{  
    background-color:#ffeeba;
    border-color: #FFF3CD;
    color:#856404; 
}

.error-alert
{  
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}




/*FORMS*/

.container-form{
    background-color: white;
    padding: 20px;
    border: 1px solid #cecdcd;
}

.container-form label{
    color: #464646;
}

.title-form{
    margin-bottom: 20px;
}

.btn-success
{
    background-color: #121E2D;
    font-weight: normal;
    font-size: 0.9rem;
}

.btn-success:hover{
    background-color: #464646;
}

/* FILTRO TRANSAÇÕES FORM */

#fundoFiltroTrans{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 30000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;  
}

#form-container{
    width: 600px;
    /* height: 300px; */
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#btn-fechar-filtro-trans{
    cursor: context-menu;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 2px;
}
#btn-fechar-filtro-trans:hover
{
    background-color:#E5E5E5;
}

#form-filtro-trans label
{
    font-weight: bold;
}

#form-filtro-trans select, input[type='date']{
    width: 100%;
    padding: 10px;
    font-size: 1.02rem;
}


/* BOTÕES DROPDOWN EM LISTAGEM DE TRANSACOES E PLANEJAMENTO */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 15px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  
  /*TOOLTIP*/
  
  .tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -22px;
    /* font-weight: bold; */
    font-size: 0.75rem;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  /*END TOOLTIP */
  
  
/* TABELAS */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  /*PAGINAÇÃO */
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #0476B9;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  tr td:last-child {
      width: 1%;
      white-space: nowrap;
  }
  